# Generated / large files
offline-catalog.json
offline-catalog.json.br
offline-snapshot.json
fallback-products.json
*.apk
*.idsig
build/
assets/

# Secrets
.admin_key
*.keystore
*.jks
.env

# Raw feeds (too large for git)
*.csv
feed_*.csv

# OS / editor
.DS_Store
*.swp
__pycache__/
